.posts {
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  background-color: #fbfbfb;
  padding-top: 104px;
  padding-bottom: 50px;
  & > span {
    font-size: 1.6rem;
    font-weight: bold;
    color: #959595;
  }
  & > ul {
    display: inline;
    & > li {
      display: inline;
    }
  }
}
